* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #38b4fc;
    background-color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  main header {
    padding-left:0%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #151616;
  }
  
  main header h1 {
    font-weight: bold;
    font-size: 25px;
    color: #151616;
    margin: 0;
    background-color:  #38b4fc;
    display: inline-block;
    width: 15%;
    text-align: right;
  }

  main header nav {
    float: right;
    margin: 5px 0;
  }
  
  main header nav ul li {
    display: inline;
  }
  
  main header nav ul li a {
    margin:0 30px;
    font-weight: lighter;
    font-size: 20px;
    color: #38b4fc;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  #hero {
    background-image: url("./images/code.png");
    height: 300px;
    width: 100%;
    background-position: center;
    position: relative;
  }

 #cool {
   display: inline-block;
   color:#151616;
   font-size: 30px;
   background-color:#38b4fc;
   position: relative;
   left:80%;
   top:80%;
  } 
  section {
    display: flex;
    margin: 20px 100px;  
  }

  aside {
    font-size: 20px;
    width: 20%;
    flex: 0 0 20%;
    border-right: 4px solid #151616;
  }
  aside h2 {
    margin-right: 20px;
  }
  .selfcontent {
    width: 50%;
    text-align: center;
    }
  
  .Gong {
    float: right;
    margin-left: 25px; 
    width: 15%;
  }
  
  /*.workContent1 {
    color: #38b4fc;
    flex-direction: row;
    display: flex;
    align-items: flex-end;

  }*/
  .workflex {
    display: flex;
    flex-wrap:wrap;
    align-items: flex-end;
    margin: 10px;
  }
  
  .large {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
    margin: 10px;
    border: #38b4fc;
  }
  .large:hover{
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  }
  .small {
    width: 160px;
    height:100px;
    border: #38b4fc;
  }
  .small:hover {
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    opacity: 0.6;
  }
  /*.workContent2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;  
  }
  
  .large {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
  }
  .large
  .small {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  */

 .inline {
    display: inline;
    font-size: 20px;
    margin-left: 20px;
    float: 0 0 20%;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }